<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/scss/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="assets/js/script.js"></script>
    
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="overlay has-fade" ></div>

        <nav class="container container--pall flex flex-jc-sb flex-ai-c">
          <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
          </a>
  
          <div class="header__links hide-for-mobile">
            <a href="https://catstacks.github.io/">Home</a><a href="https://catstacks.github.io/about.html">About</a><a href="https://computed-and-booted.netlify.app/blog/">Blog</a
            ><a href="https://catstacks.github.io/projects.html">Projects</a><a href="https://catstacks.github.io/contact.html">Contact</a>
          </div>
  
          <a href="https://github.com/catstacks" class="button header__cta hide-for-mobile">View My GitHub Profile</a>
        </nav>

        <div class="header__menu has-fade">
          <a href="https://catstacks.github.io/">Home</a>
          <a href="https://catstacks.github.io/about.html">About</a>
          <a href="https://computed-and-booted.netlify.app/blog/">Blog</a>
          <a href="https://catstacks.github.io/projects.html">Projects</a>
          <a href="https://catstacks.github.io/contact.html">Contact</a>
        </div>
       
        
        
              

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}        

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>

      <section class="hero">
        <div class="container">
          <div class="hero__image"></div>
  
          <div class="hero__text container--pall">
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            <p>{{ site.description | default: site.github.project_tagline }}</p>

            {{ content }}               
            
          </div>
        </div>         
      

      </section>

      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
  </body>
</html>
